<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>671883217847-cotrfsd3hlesr0juf8t1h7r1ks4v620m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671883217847-cotrfsd3hlesr0juf8t1h7r1ks4v620m</string>
	<key>API_KEY</key>
	<string>AIzaSyBhDzuW1TpLfQb649WMp5T79J4pfVnhKtA</string>
	<key>GCM_SENDER_ID</key>
	<string>671883217847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erterfed.devSocial</string>
	<key>PROJECT_ID</key>
	<string>devsocial-62619</string>
	<key>STORAGE_BUCKET</key>
	<string>devsocial-62619.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:671883217847:ios:00e91647010a9471</string>
	<key>DATABASE_URL</key>
	<string>https://devsocial-62619.firebaseio.com</string>
</dict>
</plist>